/* Empty. Add your own CSS if you like */

.icon.icon-waste {
    background-size: contain;
    width: 30px;
    height: 31px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    top: 6px;
}
.icon.icon-waste.icon-RM {
     background-image: url("../img/trash-can-rest-7.png");
 }
.icon.icon-waste.icon-RM14 {
    background-image: url("../img/trash-can-rest-14.png");
}
.icon.icon-waste.icon-Papier {
    background-image: url("../img/trash-can-papier.png");
}
.icon.icon-waste.icon-Bio {
    background-image: url("../img/trash-can-bio.png");
}
.icon.icon-waste.icon-Gelb {
    background-image: url("../img/trash-can-gelb.png");
}
.item-icon-left .icon.icon-waste{
    position: absolute;
}