<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!--<script src="cordova.js"></script>-->

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Pforzheim Abfuhrkalender</h1>
      </ion-header-bar>
      <ion-content ng-controller="AppCtrl as app">
          <div class="row">
              <div class="col"><p>Bitte Straße angeben, um den Abfall-Abfuhrkalender anzuzeigen.</p></div>
          </div>

          <form ng-submit="getDates()">
              <div class="list">
                  <label class="item item-input">
                      <input type="text" placeholder="Straßenname" ng-model="app.query.street"  id="searchInputStrasse" ng-keydown="checkKeyDown($event)" class="form-control" ng-change="getStreets(app.query.street)"/>
                  </label>
                  <div ng-show="app.showSuggestions" class="street-suggestion-container">
                      <ul class="list street-suggestion-list">
                          <li ng-repeat="s in app.streetSuggestions" class="item">
                              <span ng-click="app.query.street = s; app.showSuggestions=false ">{{ s }}</span>
                          </li>
                      </ul>
                  </div>
                  <label class="item item-input">
                      <input type="number" placeholder="Hausnummer" ng-model="app.query.hnr"  id="searchInputHnr" class="form-control" />
                  </label>
                  <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

              </div>
          </form>
          <button class="button button-clear button-positive" ng-click="getStreetFromLocation()">
              Standort lokalisieren
          </button>

          <div ng-show="app.showDates">

              <div class="row">
                  <div class="col-50 col-offset-25">
                      <p>Nächste Leerungen</p>
                      <table class="table-leerungen">
                          <tr ng-repeat="date in app.dates">
                              <td>{{ date.collection_date }}</td>
                              <td><i class="icon icon-waste icon-{{ type }}" ng-repeat="type in date.waste_type"></i></td>
                          </tr>
                      </table>
                      <button class="button button-clear button-positive text-center col-50">Legende</button>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                      <li class="item item-toggle item-icon-left">
                          Push-Benachrichtigung
                          <label class="toggle toggle-balanced">
                              <input type="checkbox" ng-model="pushToggle">
                              <div class="track">
                                  <div class="handle"></div>
                              </div>
                          </label>
                      </li>
                      <div ng-show="pushToggle">
                      <h4>Benachrichtigungen</h4>
                      <ul class="list">

                          <li class="item item-toggle item-icon-left">
                              <i class="icon icon-waste icon-Bio"></i>Biotonne
                              <label class="toggle toggle-balanced">
                                  <input type="checkbox" ng-model="pushBio">
                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                          </li>
                          <li class="item item-toggle item-icon-left">
                              <i class="icon icon-waste icon-Gelb"></i>Gelbe Tonne
                              <label class="toggle toggle-balanced">
                                  <input type="checkbox" ng-model="pushGelb">
                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                          </li>
                          <li class="item item-toggle item-icon-left">
                              <i class="icon icon-waste icon-Papier"></i>Papiertonne
                              <label class="toggle toggle-balanced">
                                  <input type="checkbox" ng-model="pushPapier">
                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                          </li>
                          <li class="item item-toggle item-icon-left">
                              <i class="icon icon-waste icon-RM"></i>Restmüll 7-tägig
                              <label class="toggle toggle-balanced">
                                  <input type="checkbox" ng-model="pushRM">
                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                          </li>
                          <li class="item item-toggle item-icon-left">
                              <i class="icon icon-waste icon-RM14"></i>Restmüll 14-tägig
                              <label class="toggle toggle-balanced">
                                  <input type="checkbox" ng-model="pushRM14">
                                  <div class="track">
                                      <div class="handle"></div>
                                  </div>
                              </label>
                          </li>
                      </ul>
                          </div>
                  </div>
              </div>
          </div>

      </ion-content>
    </ion-pane>
  </body>
</html>
