/* Empty. Add your own CSS if you like */

.icon.icon-waste {
    background-size: contain;
    width: 30px;
    height: 31px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    /*top: 6px;*/
}

.icon.icon-waste.icon-RM {
    background-image: url("../img/trash-can-rest-7.png");
}

.icon.icon-waste.icon-RM14 {
    background-image: url("../img/trash-can-rest-14.png");
}

.icon.icon-waste.icon-Papier {
    background-image: url("../img/trash-can-papier.png");
}

.icon.icon-waste.icon-Bio {
    background-image: url("../img/trash-can-bio.png");
}

.icon.icon-waste.icon-Gelb {
    background-image: url("../img/trash-can-gelb.png");
}

.item-icon-left .icon.icon-waste {
    position: absolute;
}

.panel {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table tbody > tr > td.vert-align {
    vertical-align: middle;
}

.table tbody > tr > td.iconColumn {
    width: 40px;
}

.table tbody > tr > td.noBorder {
    border-top: none;
}

.form-group {
    padding: 10px 15px;
}

.faqQuestionPadding {
    padding-top: 2rem;
}
/* Fix WP8 scrolling */
body, html {
    -ms-overflow-style: none !important;
}